section.main-content
  .container
    .row
      .col-lg-12
        h1 FAQs
        hr
        h2.faq-title Clinical Questions 
        #accordion.panel-group
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="#collapseOne") How does the device work?
            #collapseOne.panel-collapse.collapse.in
              .panel-body
                p AirSonea acts much like the stethoscope your physician uses when listening to your lungs. By placing the sensor on your trachea [windpipe] for 30 seconds of normal breathing the device records and then analyzes your breath sounds for the presence of wheezing. The recorded breath sounds are transmitted to the AirSonea web portal where the recording is analyzed with our advanced algorithms to detect, quantify, and measure wheeze, an important sign of air flow obstruction in asthma.
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo") What does WheezeRATE™ mean?
            #collapseTwo.panel-collapse.collapse
              .panel-body
                p WheezeRATE is the amount of wheeze detected during 30 seconds of normal breathing. It is expressed as a percentage of wheezing over time. Wheezing is a sign of airflow obstruction in asthma. Monitoring and tracking your WheezeRATE may help you and your physician with the management of your level of asthma control.
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="#collapseThree") What's a normal WheezeRATE?
            #collapseThree.panel-collapse.collapse
              .panel-body
                p Wheezing is not typical. In asthmatics, wheezing is one of the primary signs and symptoms of the disease. The degree of tolerated wheezing (WheezeRATE) will vary from user to user. Measuring and tracking your WheezeRATE over time may provide you and your physician with valuable information regarding your level of asthma control. 
        
        
        h2.faq-title Technical Questions
        #tech.panel-group
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#tech", href="#techOne") I have paired my AirSonea to my phone successfully, now I want to pair it to another phone. Is there a way to do this?

            #techOne.panel-collapse.collapse.in
              .panel-body
                p AirSonea uses Bluetooth® communications to connect the device to your phone. There can only be a single connection between the device and a phone. To pair your AirSonea to another phone, you need to go into your Bluetooth settings on the currently paired phone and un-pair. Once this is completed you can pair the device to another phone.
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#tech", href="#techTwo") Why do I continue to get a “Too Much Noise” error message?
            #techTwo.panel-collapse.collapse
              .panel-body
                p AirSonea is a sensitive breath sounds recorder and analyzer. If there is noise such as music, talking, or traffic, the device may not be able to filter out the noise to properly measure your WheezeRATE. It is important that you use the AirSonea in a very quiet place.
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#tech", href="#techThree") When I take a measurement the device stops after the Pre-Screening Test and states that no breath sounds were detected? What is wrong?
            #techThree.panel-collapse.collapse
              .panel-body
                p Placement of the sensor is critical to getting a good measurement. The sensor must be placed on the trachea or windpipe. To ensure proper placement use your fingers to locate the hard “Adams Apple” on your neck and place the sensor there. 
        
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#tech", href="#techFour") To save power on my phone I turned on my Bluetooth. When I did this I could no long open the AirSonea Phone App. What should I do?
            #techFour.panel-collapse.collapse
              .panel-body
                p The AirSonea APP requires Bluetooth on your phone to be ON to open and use the APP.  If you need to turn Bluetooth off to save battery life remember to turn it on when you want to use the App.
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#tech", href="#techFive") Why are there a 5 second measurement and then a 30 second measurement when I take a measurement with the AirSonea?
            #techFive.panel-collapse.collapse
              .panel-body
                p The first 5 second Pre-Screening test is to ensure that the sensor is placed properly and hearing breath sounds. Once this is completed, you will begin a 30 second measurement that will be recorded and analyzed.
                
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#tech", href="#techSix") The instructions for pairing my phone with AirSonea do not work? 
            #techSix.panel-collapse.collapse
              .panel-body
                p The pairing of Bluetooth devices may be different depending upon phone and operating system. You can find compatibility for the AirSonea device by going to <a href="http://airsonea.com/devices">airsonea.com/devices</a>. For more information about pairing Bluetooth devices see your phone's manual.
                
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#tech", href="#techSeven") What Phones does AirSonea Support? 
            #techSeven.panel-collapse.collapse
              .panel-body
                .row
                  .col-sm-6
                    h4 Android
                    ul.devices-list
                      li Google Nexus 4
                      li HTC ONE
                      li Samsung Galaxy Mini
                      li Samsung Galaxy S3
                      li Samsung Galaxy S4
                      li Samsung Galaxy Note
                      li Samsung Galaxy Note II 
                      li Sony Experia Z
                      li Google Nexus S
                  .col-sm-6
                    h4 iOS
                    ul.devices-list
                      li iPhone 4
                      li iPhone 4S
                      li iPhone 5
                      li iPod Touch 4th Generation
                      li iPod Touch 5th Generation
                      li iPad Mini
                      li iPad 3
                      li iPad 4
