section.video-head-static
  .video-inner
    h1 Monitor Your Wheeze,
    h1 Manage Your Worry
    a.btn.btn-primary(href="https://shop.airsonea.com.au") Buy Now

section#intro.intro
  .container
    .row
      .col-sm-3.col-sm-offset-1
        img.centered.img-responsive.hidden-xs(src="assets/img/device.png", alt="device")
      .col-sm-7
        .airsonea-lead
          h2 Meet AirSonea
          p The world’s first handheld device that turns your smartphone into a portable wheeze monitor. AirSonea helps control your asthma worries by monitoring wheeze symptom risks in real-time, without interrupting daily activities. It’s accurate, easy to use and fits in your pocket or purse.
          p It’s like having your own asthma guardian.
          a.btn.btn-primary(href="https://shop.airsonea.com.au") Buy Now

section#airsoneafeatures.airsoneafeatures
  .container
    .row
      .col-sm-12.center
        h1 A breakthrough in asthma management
      .col-sm-4.center
        img(src="assets/img/wheeze.png", alt="wheeze")
        h5 Detects Wheeze
        p Measures and detects wheeze, a primary sign of asthma and airway obstruction.
      .col-sm-4.center
        img(src="assets/img/accurate-data.png", alt="accurate data")
        h5 Share Data
        p Enables you to share data with your health care provider or loved ones in real-time.
      .col-sm-4.center
        img(src="assets/img/multiple-users.png", alt="multiple users")
        h5 Seamless Monitoring
        p AirSonea is portable, convenient and easy to use. You can even record and monitor multiple users from one device.

section#videos.videos.hidden-xs
  .container
    .row
      .col-sm-12
        h2.center Videos
        h4.center Learn More About AirSonea

      .col-sm-6
        .embed-container
            <iframe width="640" height="480" src="http://www.youtube.com/embed/5wJYlxin5x0?&rel=0&modestbranding=1&hd=1" frameborder="0" allowfullscreen></iframe>
      .col-sm-6
        .embed-container
          <iframe width="640" height="480" src="http://www.youtube.com/embed/gtDaTwLGSTA?&rel=0&modestbranding=1&hd=1" frameborder="0" allowfullscreen></iframe>
      .col-sm-6
        .embed-container
          <iframe width="640" height="480" src="http://www.youtube.com/embed/9RD3VHkoqck?&rel=0&modestbranding=1&hd=1" frameborder="0" allowfullscreen></iframe>
      .col-sm-6
        .embed-container
          <iframe width="640" height="480" src="http://www.youtube.com/embed/oZIiwnLaDE0?&rel=0&modestbranding=1&hd=1" frameborder="0" allowfullscreen></iframe>
    .row.more-yt
      .col-sm-12.center
        a.btn.btn-primary(href="http://youtube.com/soundasthma", target="_blank") More on YouTube


section#shaun.shaun
  .container
    .row
      .col-sm-11.col-sm-offset-1
        h2 How It Works
    .row
      .col-sm-4
        img.img-responsive.pull-right(src="assets/img/shaun.png", alt="shaun")
      .col-sm-8
        img(src="assets/img/step1.png", alt="step1")
        h5 Use AirSonea anywhere to take an accurate measurement of your WheezeRATE&trade;.
        img.img-responsive.center(src="assets/img/datacloud.png", alt="datacloud")
    .row
      .col-sm-7.col-sm-offset-1
        img(src="assets/img/step2.png", alt="step2")
        h5 The AirSonea sensor detects and digitises breathing sounds, and via Bluetooth&reg; these are transferred to your smartphone. The digitised sounds are then transmitted to the cloud and analysed for the presence of wheeze.
      .col-sm-4
        img.img-responsive.center(src="assets/img/signal.png", alt="datacloud")
    .row
      .col-sm-4
        img.img-responsive.center(src="assets/img/shaun-signal.png", alt="shaun") 
        h5.center YOUR PHONE
      .col-sm-4
        img.img-responsive.center(src="assets/img/mom.png", alt="mum")
        h5.center MUM'S PHONE
      .col-sm-4
        img.img-responsive.center(src="assets/img/doctor.png", alt="doctor")
        h5.center SHARES TO DOCTORS!
    .row
      .col-sm-2
        img.img-responsive.pull-right.step3(src="assets/img/step3.png", alt="step3")
      .col-sm-10
        h5 This important information is transmitted back to your phone or the phone of a caregiver.  You can then share an accurate picture of your asthma situation with your medical provider.
    .center
      a.btn.btn-info(href="#videoModal", data-toggle="modal") Watch

section#stay-informed.stay-informed
  .container.inner-bg
    .row
      .col-sm-3.col-sm-offset-1.hidden-xs.hidden-sm
        img.center(src="assets/img/deviceandphone.png", alt="deviceandphone")
      .col-sm-7
        .padded-copy
          h2 Today is the day - gain more control.
          h4 Learn more about AirSonea and when it will arrive in your market.
          h4 Manage your asthma worries. Manage your life.
        .action-icons
          a.btn.btn-primary(href="https://shop.airsonea.com.au") Buy Now

section#fits.fits
  .fits-inner
    .container
      .row
        .col-sm-12.center
          h1 Your personal asthma guardian
      .row
        .col-sm-4.col-sm-offset-2
          h5.center Objectively detects and measures wheeze
          h5.center Easily track symptoms, triggers and wheeze
          h5.center Track and measure to improve your Asthma Action Plan
        .col-sm-4
          h5.center Share vital data with family members
          h5.center Privacy for your asthma management
          h5.center Receive alerts on your asthma risk
      .row
        .col-sm-12.center 
          h4 Monitor your asthma, manage your worry. Anytime. Anywhere.
