.phone-frame.stickytop.hidden-xs
  img.img-responsive(src="../assets/img/iphone-no-shadow.png", alt="iphone-trans")
.iPhone.stickytop-screen.hidden-xs
.eighthundred
  h5.need-help Need Help? 
    a(href="tel:+1-800-476632") 1-800-iSonea
  h5.download-link  
    a(href="../assets/img/AirSoneaOwnersManual_FINAL_Reference2.pdf", alt="AirSoneaOwnersManual_FINAL%20Reference2", target="_blank") Download the AirSonea Manual

section.register
  .absolute-container
    .container.step
      h1.startas Let's Get Started!
      h3 Step 1
      h1 Register Your AirSonea<span class="trade">&trade;</span> Device
      p After registering your device, you will receive an email to confirm a registration followed by an email with a link to download your AirSonea and AsthmaSense apps for free.
      a.twoapps(href="#twoappsModal", data-toggle="modal") Why Two Apps? 
      a.btn.btn-danger.btn-lg(href="#registerModal", data-toggle="modal") Register Your Device

section.download
  .absolute-container
    .container.step
      h3 Step 2
      h1 Download
      p Make sure you've downloaded the required apps, AsthmaSense and AirSonea.  If you haven't downloaded the apps, the links below will take you to the download of your choice.
      h3.app-title AirSonea
      a.appdownload(target="_blank", href="https://play.google.com/store/apps/details?id=com.airsonea")
        img(src="../assets/img/googleplay.png", alt="googleplay")
      a.appdownload(target="_blank", href="https://itunes.apple.com/au/app/airsonea/id710244967?mt=8")
        img(src="../assets/img/appstore.png", alt="appstore")
      h3.app-title AsthmaSense
      a.appdownload(target="_blank", href="https://play.google.com/store/apps/details?id=com.ezasia.isonea&hl=en")
        img(src="../assets/img/googleplay.png", alt="googleplay")
      a.appdownload(target="_blank", href="https://itunes.apple.com/au/app/asthmasense/id529799477?mt=8")
        img(src="../assets/img/appstore.png", alt="appstore")

section.measure
  .absoluted-container
    .container.step
      h3 Step 3
      h1 Power On
      p To take your first measurement, power on the AirSonea device by sliding the 
        span.powerslide Power&nbsp;Slide&nbsp;Button.
      img.powerslide-btn(src="../assets/img/arrow.jpg", alt="arrow")
      ul
        li To pair the AirSonea device, you will need to navigate to the Bluetooth<span class="breg">&reg;</span> settings on your smartphone. 
        li This should activate the AirSonea app on your phone. If not, see 
          a(href="../faq") TROUBLESHOOTING.
        li The AirSonea device should now be "paired".

section.measurement
  .absoluted-container
    .container.step
      h3 Step 4
      h1 Your First Measurement
      p To start the measurement, place the sensor over the windpipe near the base of the throat, as shown on the HINT screen.
      p.hint (Tap <strong>HINT</strong> in your app for directions on where to place the device.)
      img.img-responsive(src="../assets/img/app-throat-only.jpg", alt="app-throat-only")
      p Tap the AirSonea logo to start your measurement.
      
section.countdown
  .absoluted-container
    .container.step
      h3 Step 5
      h1 Count Down
      p The AirSonea app will count down to the end of your screening.
      p Your WheezeRATE&trade; data will be transmitted to the cloud.
      p After analysis in the Cloud, your WheezeRATE results will appear on the smartphone screen. WheezeRATE is shown as a % of recorded breathing time that you are wheezing.

section.prompt
  .absoluted-container
    .container.step
      h3 Step 6
      h1 AsthmaSense<span class="asreg">&reg;</span> Cloud
      p AirSonea will prompt AsthmaSense Cloud to open and store your WheezeRATE.
      p The AsthmaSense system makes it easy to share asthma information with your family or physician.
      p Never delay treatment if you are having symptoms of asthma.

section.finished
  .absoluted-container
    .container.step
      h1 Your Personal Asthma Security System is now fully set up.
      h3 By monitoring your wheeze, you can now start managing your asthma worries.
    
.section-bg
  .arrow-wrap
    .arrow-down
.block
.section-bg-white
  .arrow-wrap
    .arrow-down		
.block
.section-bg
  .arrow-wrap
    .arrow-down
.block
.section-bg-white
  .arrow-wrap
    .arrow-down	
.block	
.section-bg
  .arrow-wrap
    .arrow-down
.block
.section-bg-white
  .arrow-wrap
    .arrow-down	
.block	
.section-bg
  .arrow-wrap
    .arrow-down
section.head	
section.first
section.second
section.third
section.fourth
section.fifth

